.DS_Store
node_modules
# /dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/ckeditor5-36.0.0-aw402xfhqssx/LICENSE.md
src/ckeditor5-36.0.0-aw402xfhqssx/package.json
src/ckeditor5-36.0.0-aw402xfhqssx/README.md
src/ckeditor5-36.0.0-aw402xfhqssx/webpack.config.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/ckeditor.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/ckeditor.js.map
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/af.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/ar.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/ast.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/az.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/bg.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/bn.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/bs.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/ca.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/cs.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/da.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/de-ch.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/de.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/el.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/en-au.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/en-gb.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/eo.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/es-co.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/es.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/et.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/eu.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/fa.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/fi.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/fr.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/gl.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/gu.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/he.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/hi.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/hr.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/hu.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/id.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/it.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/ja.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/jv.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/km.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/kn.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/ko.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/ku.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/lt.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/lv.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/ms.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/nb.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/ne.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/nl.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/no.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/oc.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/pl.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/pt-br.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/pt.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/ro.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/ru.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/si.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/sk.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/sl.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/sq.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/sr-latn.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/sr.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/sv.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/th.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/tk.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/tr.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/tt.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/ug.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/uk.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/ur.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/uz.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/vi.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/zh-cn.js
src/ckeditor5-36.0.0-aw402xfhqssx/build/translations/zh.js
src/ckeditor5-36.0.0-aw402xfhqssx/sample/index.html
src/ckeditor5-36.0.0-aw402xfhqssx/sample/styles.css
src/ckeditor5-36.0.0-aw402xfhqssx/src/ckeditor.js
