:root {
    --icon-size: 20px;
    font-size: 12px;
}

body, html {
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

* {
    border-radius: 0px !important;
}

.block-overlay {
    position:absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0,0,0,0.5);
}

.wrapper {
    position:absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    background: #eee;
}

.top-panel {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    display: grid;
    grid-template-columns: 1fr 43px;
}

.top-right-panel > * {
    height: 18px;
    border: none;
    padding: 0px;
    width: 20px;
    height: 20px;
    background: rgba(0,0,0,0.2);
    margin-right: 1px;
}

.wrapper > * {
    background: white;
}

.app-modes {
    width: 30px;
}

.app-modes > * {
    width: 100%;
}

.hidden {
    display: none !important;
}

.groups-panel {
    border-right: 1px solid #eee;
    height: 100%;
    max-height: 100%;
    display: grid;
    grid-template-rows: 30px 1fr;
}

.groups-panel .list {
    overflow-y: scroll;
    height: 100%;
    max-height: calc(100vh - 31px);
}

.categories-panel {
    border-right: 1px solid #eee;
    height: 100%;
    max-height: 100%;
    display: grid;
    grid-template-rows: 30px 1fr;
}

.list {
    border-top: 1px solid #eee;
    overflow-y: scroll;
    height: 100%;
    height: calc(100vh - 31px);
    max-height: calc(100vh - 31px);
}

.tags-panel {
    border-right: 1px solid #eee;
}

#page-edit {
    height: 100%;
}

.page-edit { 
    height: 100%;
}

.all-articles-panel {
    
}

.actions-panel {
    display: flex;
}

.page-actions-panel {
}

.actions-panel-spacer {
    flex: 1;
    width: 100%;
}

.current-mode {
    border-left: 1px solid #eee;
    display: flex;
    width: 50%;
    flex: 1;
}

.editor-wrapper {
    width: 50%;
    flex: 1;
    background: none;
}

.page-panel {
    text-align: left;
    height: 100%;
    max-height: 100%;
    border-left: 1px solid #eee;
}

.mode {
    width: 100%;
}

#mode-list {
    border-left: 2px solid green;
}

#mode-favorites {
    border-left: 2px solid orange;
}

#mode-tags {
    border-left: 2px solid blue;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#mode-catalog {
    border-left: 2px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#mode-links {
    border-left: 2px solid cornflowerblue;
}

.item-row {
    display: grid !important;
    /* grid-template-columns: 32px 1fr; */
    min-height: 25px;
    border-bottom: 1px solid #eee;
    text-align: left;
}

.item-row .list-group-item {
    padding: 5px;
}

.item-row>* {
    border-bottom: none !important;
}

.item-links-row {
    grid-template-columns: 1fr 3fr !important;
}

.item-artilces-list {
    grid-template-columns: 1fr 1fr !important;
}

.item-image-row {
    grid-template-columns: 1fr 3fr !important;
}

.item-tree-row {
    display: grid !important;
    grid-template-columns: 32px 1fr;
    min-height: 25px;
    border-bottom: 1px solid #eee;
    text-align: left;
}

.item-row:hover {
    background: rgba(0,0,0,0.1);
}

.item-tree-row:hover {
    background: rgba(0,0,0,0.1);
}

.item-title {
    align-items: center;
    display: flex !important;
    padding-left: 5px !important;
}

.item-tree-row .item-inner-title {
    align-items: center;
    padding: 3px;
    display: flex;
    height: 100%;
}

a {
    cursor: pointer;
}

.active {
    background: blue !important;
    color: white !important;
}

.tree-spacer {
    width: 8px;
    display: inline-block;
    overflow: hidden;
}

.tree-spacer::before {
    content: ".....................................................";
    overflow: hidden;
    font-size: 8px;
}

.ql-editor {
    max-height: 90vh;
    max-width: 50vw;
}

.ql-editor img {
    width: 100% !important;
    height: auto !important;
}

.tags-lists {
    display: grid;
    grid-template-columns: 1fr 30px 1fr;
}

.tags-lists select {
    overflow-y: scroll;
    max-height: 120px;
}

.tags-lists-buttons {
    display: flex;
    flex-wrap: wrap;
}

.modal.show {
    display: block;
}

.w {
    height: 100px;
    width: 100px;
}

.modal-body {
    text-align: left;
}

.list-repo-item {
    display: grid;
    grid-template-columns: 1fr 100px;
    padding: 5px;
}

.modal-ask-api_list_buttons {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 5px;
    padding: 0px 0px 5px 0px;
    border-bottom: 1px solid #eee;
}

.modal-ask-api_list_buttons > div {
    gap: 5px;
    display: flex;
}

#modal-ask-api-key .form-label {
    width: 100%;
    text-align: left;
}

.list-repo-item:nth-child(2n) {
    background: rgba(0,0,0,0.1);
}

.list-repo-item:hover {
    background: rgba(0,0,0,0.2);
}

.list-repo-item_desc * {
    text-align: left;
    word-break: break-all;
}

.list-repo-item.active {
    background: blue;
    color: white;
}

.list-repo-item_title {
    display: flex;
}

.list-repo-item_type {
    background: green;
    color: white;
    padding: 5px;
}

.list-repo-item_name {
    background: grey;
    color: white;
    padding: 5px;
}

.toast-body {
    text-align: left;
}

.selecteion-tag-panel {
    display: grid;
    grid-template-columns: 1fr 30px 1fr;
    height: 400px
}

.selecteion-tag-panel select {
    width: 100%;
    height: 100%;
}

.selecteion-tag-panel select option {
    font-size: 16px;
}

.selecteion-tag-panel .selector {
    height: calc(100% - 30px);
}

.left-tag-panel {
    border: 1px solid rgba(0,0,0,0.1) !important;
}

.middle-tag-panel {
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.right-tag-panel {
    border: 1px solid rgba(0,0,0,0.1) !important;
}

.link {
    text-decoration: underline !important;
    color: blue !important;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

